#ss-1{
    padding-left: 0;
    padding-right: 0;
    background-color: rgb(241, 241, 109);

    #sec-anim-wipe{
        position: absolute;
    }

    .bodyshot, .bodyshot-anim{
        display: none;
        transition: 0.4s;
        opacity: 0;
        position: relative;
        right: 16px;
        top: 6px;

        img{
            width: 240px;
        }
    }

    .bodyshot-anim{
        right: 0;
        top: 0;
        opacity: 1;
    }

    #pitch-deck #pitch{
        padding-top: 48px;

        #pitch-headers, #pitch-bio{
            padding-left: 42px;
            padding-right: 42px;

            h1, h3{
                font-weight: 500;
            }
        }
        
        #pitch-headers{
            transform: none;

            h1{
                font-weight: 500;
                font-size: 42px;
                margin-bottom: 12px;
            }

            h3{
                margin-bottom: 8px;
            }
        }

        #pitch-bio{
            margin-top: 48px;
            background-color: white;
            color: black;
            padding-top: 16px;
            padding-bottom: 14px;

            #projects-btn{
                transition: 0.4s;
                cursor: pointer;
                display: none;
    
                &:hover, &:active{
                    padding-left: 12px;
                }
    
                .button-caption{
                    font-size: 62px;
                    font-weight: 200;
                }
            }
        }
    }
}

.sec, .sec-anim{
    //transition: 0.7s; - wipe effect
    transition: 0.5s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    position: relative;
    z-index: 2;

    /*
    #sec-anim-wipe{
        transition: 0.7s;
        transition-delay: 0.1s;
        background-color: rgba(255, 0, 0, 0.5);
        position: absolute;
        right: 0;
        top: 0;
        width: 5%;
        height: 100vh;
        overflow: hidden;
        z-index: 2;
        pointer-events: none;
        filter: blur(0);
    }
        */
}

.sec-anim{
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}

@media only screen and (min-width: 750px) and (min-height: 500px){
    #ss-1{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;

        .bodyshot, .bodyshot-anim{
            display: block;
        }

        #pitch-deck #pitch{
            width: 925px;
            padding-top: 12px;

            #pitch-headers, #pitch-bio{
                padding-left: 0;
                padding-right: 0;
            }

            #pitch-headers{
                transform: skewX(4deg);
                margin-bottom: 0;

                h1{
                    font-size: 52px;
                }

                h3{
                    font-size: 32px;
                }
            }

            #pitch-bio{
                background-color: rgb(241, 241, 109);
                color: #212529;
                padding-top: 0;
                padding-bottom: 0;
                margin-top: 36px;

                p{
                    font-size: 24px;
                }

                #projects-btn{
                    display: inline-block;
                }
            }
        }
    }
}