#ss-2{
    background-image: url('../../../../public/graphics/shark_small.jpeg');
    background-size: cover;
    padding-top: 50px;

    .theme-border/*, .theme-outline*/{
        border: 2px solid transparent;
        background-origin: border-box;
        background-clip: padding-box, border-box;
    }

    .theme-border{
        background-image: linear-gradient(rgb(68, 69, 75), rgb(86, 92, 114)), linear-gradient(45deg, #f927e7, #e3e3e3);
    }

    /*
    .theme{
        background-image: linear-gradient(rgb(68, 69, 75), rgb(86, 92, 114));
    }

    .theme-outline{
        background-image: linear-gradient(rgb(255, 255, 255, 0), rgb(255, 255, 255, 0)),
            linear-gradient(45deg, #f927e7, #e3e3e3);
    }
            */

    .header-label{
        font-size: 20px;
    }

    .project-size-bars{
        gap: 4px;

        .psb-active, .psb-inactive{
            height: 3px;
            width: 32px;
            display: block;
        }

        .psb-active{
            background-color: white;
        }

        .psb-inactive{
            background-color: rgba(255, 255, 255, 0.5);
        }
    }

    #media-outlets{
        text-align: center;
        margin-top: -40px;
        margin-bottom: 18px;
        gap: 24px;

        a img{
            height: 30px;
        }

        .custom-landing-buttons, .custom-landing-buttons-anim{
            .clb-first{
                background-color: white;
            }

            .custom-landing-button{
                border-width: 1px;
                border-radius: 40px;
                padding: 12px 18px;
            }

            &:first-child{
                margin-bottom: 12px;
            }
        }

        .custom-landing-buttons-anim .clb-second{
            color: black;
        }
    }
}

@media only screen and (min-width: 750px) and (min-height: 500px){
    #ss-2{
		background-image: url('../../../../public/graphics/shark.jpeg');
        padding-top: 14px;
        padding-bottom: 0;

        #lol{
            
        }
    }
}