#ss-3{
    #ri-container{
        background-color: rgb(241, 241, 109);
        border-bottom: solid black 2px;

        #resume-introduction{
            #cert h5{
                background-color: #212529;
                color: #f2f2f2;
                border-radius: 15px;
                display: inline-block;
                font-size: 16px;
                padding: 5px 8px;
                margin-bottom: 32px;
            }

            #resume-bio{
                padding-left: 25px;
                padding-right: 25px;
            }
    
            #contact-outlets{
                gap: 5px;
                height: 66px;
                padding-top: 6px;
                padding-left: 6px;

                #download-btn{
                    .road-top, .road-bottom{
                        width: 214px;
                    }

                    .road-top{
                        gap: 7px;
                    }
                }

                #git-btn{
                    .road-top{
                        background-color: white;
                    }

                    .road-bottom{
                        background-color: goldenrod;
                    }
                }
            }
        }
    }
    
    .experience-container{
        margin-bottom: 18px;

        .experience{
            padding-left: 25px;
            padding-right: 25px;
    
            .experience-header{
                margin-bottom: 12px;
    
                div{
                    display: inline-block;
                }
        
                h4, span{
                    display: block;
                }
    
                h4{
                    font-weight: 600;
                }
        
                span{
                    width: 100%;
                    height: 4px;
                    background-color: rgb(241, 241, 109);
                }
            }
        
            .experience-group{
                h5{
                    font-weight: 700;
                }
    
                .enrollment, p, ul li{
                    font-size: 17px;
                }
    
                .enrollment{
                    margin-top: 3px;
                    margin-bottom: 6px;

                    a{
                        transition: 0.2s;
                        color: black;

                        &:hover, &:active{
                            background-color: rgb(241, 241, 109);
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 750px) and (min-height: 500px){
    #ss-3{
        #ri-container{
            #resume-introduction{
                #cert h5{
                    margin-bottom: 0;
                }

                #resume-bio{
                    padding-left: 0;
                    padding-right: 0;
                }

                #contact-outlets{
                    gap: 13px;
                }
            }
        }

        .experience-container{
            .experience{
                padding-left: 0;
                padding-right: 0;
    
                .experience-header{
                    margin-bottom: 0;
                    width: 240px;
                }
    
                .experience-group{
                    width: 500px;
                }
            }
        }
    }
}