#ss-2{
    #ss-2-inner{
        width: 100%;

        #lol{
            color: white;

            .dark-translucent{
                background-color: rgba(40, 45, 84, 0.6);
            }

            .project-size-bars{
                gap: 4px;
                height: 100%;
        
                .psb-col{
                    width: 32px;
                    height: 100%;

                    .psb-active, .psb-inactive{
                        height: 3px;
                        width: 100%;
                        display: block;
                    }
            
                    .psb-active{
                        background-color: white;
                    }
            
                    .psb-inactive{
                        background-color: rgba(255, 255, 255, 0.5);
                    }
                }
            }

            #main-interface, #main-interface #filter-col{
                border-radius: 0 0 0 27px;
            }
            
            #main-interface #filter-col, #main-interface #projects-list, #filter-row{
                backdrop-filter: blur(22px);
            }

            #main-interface{
                height: 420px;

                .cursor-highlight{
                    transition: 0.2s;
                    cursor: default;
                    display: inline-block;

                    &:hover, &:active{
                        background-color: rgba(77, 87, 166, 0.6);
                    }
                }

                #filter-col #mi-header, #filter-col .fc-section .fc-header, #filter-col .fc-section .fc-header-anim,
                #projects-list #pl-header{
                    height: 48px;
                }

                #filter-col, #projects-list{
                    height: 100%;
                    overflow-y: auto;
    
                    &::-webkit-scrollbar {
                        width: 7px;
                    }
    
                    &::-webkit-scrollbar-track {
                        background: rgba(14, 16, 31, 0.6);
                        border-radius: 10px;
                    }
    
                    &::-webkit-scrollbar-thumb {
                        background-image: linear-gradient(-135deg, #ffc2fa, #f927e7, #a20495);
                        border-radius: 10px;
                    }
    
                    &::-webkit-scrollbar-thumb:hover {
                        background-color: #c71585;
                    }
                }
    
                #filter-col{
                    border-radius: 27px;
                    //width: 260px;
                    width: calc(100% - 80px);
    
                    #mi-header{
                        border-radius: 27px 0 0 0;
                    }

                    #mi-header, .fc-section .fc-header-anim{
                        border-bottom: solid rgba(157, 168, 255, 0.25) 1px;
                    }
    
                    .fc-section{
                        .fc-header, .fc-header-anim{
                            padding-left: 17px;
                            padding-right: 12px;
    
                            .fch-inner{
                                width: 100%;
    
                                .fch, .fc-collapse{
                                    height: 100%;
                                }
        
                                .fch{
                                    width: 75%;
        
                                    .header-label{
                                        font-size: 18px;
                                    }
                                }
        
                                .fc-collapse{
                                    width: 25%;
                                    
                                    .fcc, .fcc-anim{
                                        cursor: pointer;
                                        transition: 0.4s;
                                        border-radius: 3px;
                                        width: 18px;
                                        height: 18px;
                                        border-width: 2px;
                                        border-style: solid;

                                        .collapse-icon{
                                            margin-top: 9px;
                                            font-size: 22px;
                                        }
                                    }

                                    .fcc .collapse-icon{
                                        margin-top: 0;
                                        transform-origin: 5px 12px;
                                        transform: rotate(180deg);
                                    }

                                    .fcc-anim{
                                        border-color: white;

                                        &:hover, &:active{
                                            box-shadow: 0 0 7px #f8f8f8;
                                            background-color: white;
                                            color: rgba(40, 45, 84, 0.6);
                                        }
                                    }
                                }
                            }
                        }
    
                        .fc-radio-list, .fc-radio-list-anim, .publish-range, .publish-range-anim{
                            background-color: rgba(14, 16, 31, 0.6);
                        }
    
                        .fc-radio-list, .fc-radio-list-anim{
                            //1/4 of .fc-section-option height
                            padding: 10px 24px;
    
                            .fc-section-option{
                                height: 40px;
    
                                .fcso-inner{
                                    gap: 9px;
    
                                    .fcso-radio, .fcso-radio .fcsor-selected{
                                        display: block;
                                    }
            
                                    .fcso-radio{
                                        width: 18px;
                                        height: 19px;
                                        border-radius: 6px;
            
                                        .fcsor-selected{
                                            position: relative;
                                            left: 50%;
                                            top: 50%;
                                            transform: translate(-50%, -50%);
                                            border-radius: 2px;
                                            width: calc(100% - 8px);
                                            height: calc(100% - 9.25px);
                                            background-color: whitesmoke;
                                        }
                                    }

                                    .radio-label{
                                        font-size: 17px;
                                    }
                                }
                            }
                        }
    
                        .fc-radio-list{
                            display: none;
                        }
                    }
    
                    #date {
                        .publish-range, .publish-range-anim{
                            padding: 12px 18px 18px 18px;
        
                            #range-labels{
                                gap: calc(100% - 79px);
                                margin-bottom: 6px;
        
                                div{
                                    font-size: 12px;
                                }
                            }
        
                            #range, #range #range-duration, #range #range-indication{
                                display: block;
                            }
        
                            #range{
                                width: 100%;
                                height: 6px;
        
                                #range-inner{
                                    height: 100%;
                                    width: 100%;
                                    background-color: rgba(127, 127, 127, 0.6);
        
                                    #range-duration{
                                        height: 100%;
                                        background-image: linear-gradient(-135deg, #fc5def, #b61ea9)
                                    }
            
                                    #range-indication{
                                        margin-left: -2px;
                                        margin-top: -2px;
                                        width: 10px;
                                        height: 10px;
                                        background-image: linear-gradient(135deg, white, #e3e3e3);
                                        border-radius: 50%;
                                    }
                                }
                            }
                        }
    
                        .publish-range{
                            display: none;
                        }
                    }
                }

                #projects-list{
                    background-color: rgba(52, 79, 108, 0.6);
                    border-radius: 0 0 27px 27px;
                    width: calc(100% - 50px);
    
                    #pl-header{
                        margin-top: 2px;
    
                        .pls{
                            height: 100%;
                        }

                        #pl-left, #pl-right{
                            width: 12.5%;
                        }

                        #pl-center{
                            width: 75%;

                            .header-label, .header-label-anim{
                                padding: 3px 11px;
                                border-radius: 10px;
                            }
                        }
    
                        #pl-left #ab-back, #pl-right img{
                            width: 24px;
                        }
    
                        #pl-left{
                            border-radius: 0 0 10px 0;
    
                            #ab-back{
                                height: 24px;
    
                                #arrow-back{
                                    position: relative;
                                    left: 6px;
                                    bottom: 7px;
                                    font-size: 28px;
                                }
                            }
                        }
    
                        #pl-right{
                            border-radius: 0 0 0 10px;
    
                            img{
                                //margin-left: -5px;
                            }
                        }
                    }

                    .pl-header-1 #pl-right, .pl-header-2 #pl-left, .pl-header-2 #pl-right{
                        pointer-events: none;
                        opacity: 0;
                    }

                    #pl-body{
                        height: calc(100% - 58px);

                        #pl-legend{
                            height: 100%;

                            #pll-icon-title{
                                display: none;
                            }
    
                            #pll-inner{
                                position: relative;
                                bottom: 5px;

                                .lif-icon-row{
                                    gap: 12px;
                                    margin-bottom: 8px;
                                    height: 58px;
        
                                    &:first-child{
                                        margin-top: 8px;
                                    }
        
                                    &:last-child{
                                        margin-bottom: 0;
                                    }
        
                                    .lif-label-col, .lif-icon-col{
                                        height: 100%;
                                    }
        
                                    .lif-label-col{
                                        width: 26%;
    
                                        &:first-child{
                                            text-align: right;
                                        }

                                        .llc{
                                            width: 100%;
                                            display: flex;
                                            flex-direction: column;
                                        }
                                    }
        
                                    .lif-icon-col{
                                        gap: 8px;
                                        width: 145px;
        
                                        .lif-icon{
                                            position: relative;
                                            top: 2px;
                                            cursor: pointer;
    
                                            img{
                                                height: 42px;
                                            }
                                        }
                                    }
                                }
        
                                #lir-size{
                                    .lif-icon-col{
                                        #badge{
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }

                        #pl-gallery{
                            margin-top: 12px;

                            #cards, #cards .gallery-card .gc-content{
                                display: flex;
                                flex-direction: column;
                            }

                            #cards{
                                width: calc(100% - 20px);

                                .gallery-card, .gallery-card .gc-content, .gc-thumbnail{
                                    width: 100%;
                                }

                                .gallery-card{
                                    padding: 7px 0;
                                    border-radius: 7px;
    
                                    .gc-content{
                                        width: calc(100% - 14px);

                                        .gc-thumbnail, .gc-info{
                                            width: 100%;
                                        }
    
                                        .gc-thumbnail{
                                            height: 160px;
                                            background-size: cover;
                                            border-radius: 9px;
                                        }

                                        .gc-info{
                                            margin-top: 6px;

                                            .gi-left, .gi-right{
                                                width: 50%;
                                                height: 100%;
                                            }

                                            .gi-left{
                                                .gi-text{
                                                    .gi-title{
                                                        font-family: "Akagi-pro", sans-serif;
                                                    }
                                                }
                                            }

                                            .gi-right{
                                                .gi-badges{
                                                    gap: 4px;

                                                    .glass-card{
                                                        height: 35px;

                                                        .gb-inside{
                                                            width: 35px;

                                                            img{
                                                                height: 24px;
                                                            }
                                                        }

                                                        .project-size-bars{
                                                            width: 68px;
                                                            gap: 3px;
                                                            position: relative;
                                                            left: 1px;

                                                            .psb-col{
                                                                width: 18px;

                                                                .psb-active, .psb-inactive{
                                                                    height: 2px;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            #fr-container{
                margin-top: 14px;

                .dm-inner .dmic{
                    &:hover, &:active{
                        background-color: rgba(70, 75, 114, 0.45);
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 750px) and (min-height: 500px){
    #ss-2{
        #ss-2-inner{
            #lol{
                #main-interface{
                    height: 498px;

                    #filter-col{
                        border-radius: 40px 0 0 40px;
                        width: 260px;
                    }
    
                    #projects-list{
                        border-radius: 0 40px 40px 0;
                        width: 600px;
                        //width: calc(100% - 20px);

                        #pl-header #pl-center .header-label, #pl-header #pl-center .header-label-anim,
                        #pl-body #pl-legend #pll-inner{
                            width: 543px;
                        }

                        #pl-header{
                            position: relative;
                            right: 2px;
                            top: 1px;

                            #pl-center{
                                width: 100%;

                                .header-label, .header-label-anim{
                                    border-radius: 15px 15px 0 0;
                                    box-shadow: none;
                                    margin-bottom: -17px;

                                    #hl-inner{
                                        position:relative;
                                        top:1px;
                                        left:1px;
                                    }
                                }
                            }
                        }

                        #pl-body, #pl-body #pl-legend{
                            height: auto;
                        }

                        #pl-body{
                            #pl-legend{
                                #pll-icon-title{
                                    display: block;
                                }
    
                                #pll-inner{
                                    bottom: 0;
                                    padding: 3px 0;
                                    height: 68px;
                                    border-radius: 0 0 15px 15px;
    
                                    .lif-icon-row{
                                        height: 100%;
    
                                        .lif-label-col{
                                            display: none;
                                        }
    
                                        .lif-icon-col{
                                            gap: 0;
                                            width: 100%;
                                            height: 100%;
    
                                            .lif-icon{
                                                margin-right: 8px;
                                                transition: 0.2s;
                                                top: 0;
                                                width: 56px;
                                                height: 56px;
                                                z-index: 1;
    
                                                img{
                                                    margin-top: 4px;
                                                    height: 34px;
                                                }
                                            }
                                        }
    
                                        #psb-container{
                                            height: 56px;
                                        }
    
                                        &:first-child, &:last-child{
                                            position: static;
                                        }

                                        position: relative;
                                        top: 4px;
                                    }
    
                                    #lif-squished-row{
                                        width: 129px;
                                    }
    
                                    #lir-size{
                                        #psb-container{
                                            padding: 0 20px;
    
                                            #psb .psb-col{
                                                cursor: pointer;
                                            }
                                        }
    
                                        .lif-icon-col .lif-icon{
                                            margin-right: 0;
                                        }
                                    }
                                }
                            }

                            #pl-gallery{
                                height: 362px;

                                #promo-label{
                                    width: 100%;
                                    text-align: center;
                                    padding-left: 20%;
                                    padding-right: 20%;
                                    transform: translateY(-30%);
                                }

                                #cards{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) and (min-height: 500px){
    #ss-2{
        #ss-2-inner{
            #lol{
                #main-interface{
                    #projects-list{
                        //width: 680px;
                    }
                }
            }
        }
    }
}