#ss-2{
    #ss-2-inner{
        #lol{
            color: white;

            .dark-translucent{
                background-color: rgba(40, 45, 84, 0.6);
            }

            .filters-translucent{

            }

            .glass-card{
                position: relative;
                background: rgba(255, 255, 255, 0.2);
                border-radius: 15px;
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
                overflow: hidden;
                box-sizing: border-box;

                &::before{
                    content: "";
                    border-radius: inherit;
                    position: absolute;
                    pointer-events: none;
                    top: 2px;
                    left: 2px;
                    right: 2px;
                    bottom: 2px;
                    padding: 2px;
                    background: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0) 28px);
                    
                    pointer-events: none;
                    z-index: -1;
                }
            }

            .project-size-bars{
                gap: 4px;
                height: 100%;
        
                .psb-col{
                    width: 32px;
                    height: 100%;

                    .psb-active, .psb-inactive{
                        height: 3px;
                        width: 100%;
                        display: block;
                    }
            
                    .psb-active{
                        background-color: white;
                    }
            
                    .psb-inactive{
                        background-color: rgba(255, 255, 255, 0.5);
                    }
                }
            }

            #main-interface, #main-interface #filter-col{
                border-radius: 0 0 0 27px;
            }
            
            #main-interface #filter-col, #main-interface #projects-list, #filter-row{
                backdrop-filter: blur(22px);
            }

            #main-interface{
                height: 320px;

                .cursor-highlight{
                    transition: 0.2s;
                    cursor: default;
                    display: inline-block;

                    &:hover, &:active{
                        background-color: rgba(77, 87, 166, 0.6);
                    }
                }

                #filter-col #mi-header, #filter-col .fc-section .fc-header, #projects-list #pl-header{
                    height: 48px;
                }

                #filter-col, #projects-list{
                    height: 100%;
                    overflow-y: auto;
    
                    &::-webkit-scrollbar {
                        width: 7px;
                    }
    
                    &::-webkit-scrollbar-track {
                        background: rgba(14, 16, 31, 0.6);
                        border-radius: 10px;
                    }
    
                    &::-webkit-scrollbar-thumb {
                        background-image: linear-gradient(-135deg, #ffc2fa, #f927e7, #a20495);
                        border-radius: 10px;
                    }
    
                    &::-webkit-scrollbar-thumb:hover {
                        background-color: #c71585;
                    }
                }
    
                #filter-col{
                    border-radius: 27px;
                    width: 260px;
    
                    #mi-header{
                        border-bottom: solid rgba(157, 168, 255, 0.25) 1px;
                        border-radius: 27px 0 0 0;
                    }
    
                    .fc-section{
                        .fc-header{
                            padding-left: 17px;
                            padding-right: 12px;
    
                            .fch-inner{
                                width: 100%;
    
                                .fch, .fc-collapse{
                                    height: 100%;
                                }
        
                                .fch{
                                    width: 75%;
        
                                    .header-label{
                                        font-size: 18px;
                                    }
                                }
        
                                .fc-collapse{
                                    width: 25%;
                                    
                                    .fcc, .fcc-anim{
                                        cursor: pointer;
                                        transition: 0.4s;
                                        border-radius: 3px;
                                        width: 18px;
                                        height: 18px;
                                        border-width: 2px;
                                        border-style: solid;

                                        .collapse-icon{
                                            margin-top: 9px;
                                            font-size: 22px;
                                        }
                                    }

                                    .fcc .collapse-icon{
                                        margin-top: 0;
                                        transform-origin: 5px 12px;
                                        transform: rotate(180deg);
                                    }

                                    .fcc-anim{
                                        border-color: white;

                                        &:hover, &:active{
                                            box-shadow: 0 0 7px #f8f8f8;
                                            background-color: white;
                                            color: rgba(40, 45, 84, 0.6);
                                        }
                                    }
                                }
                            }
                        }
    
                        .fc-radio-list, .fc-radio-list-anim, .publish-range, .publish-range-anim{
                            background-color: rgba(14, 16, 31, 0.6);
                        }
    
                        .fc-radio-list, .fc-radio-list-anim{
                            //1/4 of .fc-section-option height
                            padding: 10px 24px;
    
                            .fc-section-option{
                                height: 40px;
    
                                .fcso-inner{
                                    gap: 9px;
    
                                    .fcso-radio, .fcso-radio .fcsor-selected{
                                        display: block;
                                    }
            
                                    .fcso-radio{
                                        width: 18px;
                                        height: 19px;
                                        border-radius: 6px;
            
                                        .fcsor-selected{
                                            position: relative;
                                            left: 50%;
                                            top: 50%;
                                            transform: translate(-50%, -50%);
                                            border-radius: 2px;
                                            width: calc(100% - 8px);
                                            height: calc(100% - 9.25px);
                                            background-color: whitesmoke;
                                        }
                                    }

                                    .radio-label{
                                        font-size: 17px;
                                    }
                                }
                            }
                        }
    
                        .fc-radio-list{
                            display: none;
                        }
                    }
    
                    #date {
                        .publish-range, .publish-range-anim{
                            padding: 12px 18px 18px 18px;
        
                            #range-labels{
                                gap: calc(100% - 79px);
                                margin-bottom: 6px;
        
                                div{
                                    font-size: 12px;
                                }
                            }
        
                            #range, #range #range-duration, #range #range-indication{
                                display: block;
                            }
        
                            #range{
                                width: 100%;
                                height: 6px;
        
                                #range-inner{
                                    height: 100%;
                                    width: 100%;
                                    background-color: rgba(127, 127, 127, 0.6);
        
                                    #range-duration{
                                        height: 100%;
                                        background-image: linear-gradient(-135deg, #ffc2fa, #f927e7, #a20495)
                                    }
            
                                    #range-indication{
                                        margin-left: -2px;
                                        margin-top: -2px;
                                        width: 10px;
                                        height: 10px;
                                        background-image: linear-gradient(135deg, white, #e3e3e3);
                                        border-radius: 50%;
                                    }
                                }
                            }
                        }
    
                        .publish-range{
                            display: none;
                        }
                    }
                }

                #projects-list{
                    background-color: rgba(52, 79, 108, 0.6);
                    border-radius: 0 0 27px 27px;
                    width: 320px;
    
                    #pl-header{
                        margin-top: 2px;
    
                        .pls{
                            height: 100%;
                        }

                        #pl-left, #pl-right{
                            width: 12.5%;
                        }

                        #pl-center{
                            width: 75%;

                            .header-label, .header-label-anim{
                                padding: 3px 11px;
                                border-radius: 10px;
                            }
                        }
    
                        #pl-left #ab-back, #pl-right img{
                            width: 24px;
                        }
    
                        #pl-left{
                            border-radius: 0 0 10px 0;
    
                            #ab-back{
                                height: 24px;
    
                                #arrow-back{
                                    position: relative;
                                    left: 6px;
                                    bottom: 7px;
                                    font-size: 28px;
                                }
                            }
                        }
    
                        #pl-right{
                            border-radius: 0 0 0 10px;
    
                            img{
                                //margin-left: -5px;
                            }
                        }
                    }

                    .pl-header-1 #pl-right, .pl-header-2 #pl-left, .pl-header-2 #pl-right{
                        pointer-events: none;
                        opacity: 0;
                    }

                    #pl-body{
                        #pl-legend{
                            #pll-icon-title{
                                display: none;
                            }
    
                            #pll-inner{
                                .lif-icon-row{
                                    gap: 8px;
                                    margin-bottom: 8px;
                                    height: 58px;
        
                                    &:first-child{
                                        margin-top: 8px;
                                    }
        
                                    &:last-child{
                                        margin-bottom: 0;
                                    }
        
                                    .lif-label-col, .lif-icon-col{
                                        height: 100%;
                                    }
        
                                    .lif-label-col{
                                        width: 26%;
    
                                        &:first-child{
                                            text-align: right;
                                        }
                                    }
        
                                    .lif-icon-col{
                                        gap: 8px;
                                        width: 48%;
        
                                        .lif-icon{
                                            position: relative;
                                            top: 2px;
                                            cursor: pointer;
    
                                            img{
                                                height: 42px;
                                            }
                                        }
                                    }
                                }
        
                                #lir-size{
                                    .lif-icon-col{
                                        #badge{
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }

                        #pl-gallery{
                            height: 270px;

                            .header-label{
                                width: 80%;
                                text-align: center;
                                font-size: 18px;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
            }

            #fr-container #filter-row{
                display: inline-block;
                margin-top: 14px;
                border-radius: 27px;
                padding: 8px 18px 8px 18px;
    
                .fr, .fr-selected{
                    height: 34px;
                    padding-left: 14px;
                    padding-right: 14px;
                    border-radius: 18px;
                    margin-left: 2px;
                    margin-right: 2px;
                }
    
                .fr{
                    border: solid rgba(255, 255, 255, 0) 1px;//matches size duration of theme-border
    
                    &, div{
                        cursor: pointer;
                    }
    
                    &:hover, &:active{
                        background-color: rgba(70, 75, 114, 0.45);
                    }
                }
    
                .fr-selected{
                    cursor: default;
                    background-color: rgba(70, 75, 114, 0.6);
                }
            }
        }
    }
}

@media only screen and (min-width: 750px) and (min-height: 500px){
    #ss-2{
        #ss-2-inner{
            #lol{
                .glass-card::before{
                    top: 1px;
                    left: 1px;
                    right: 1px;
                    bottom: 1px;
                    padding: 1px;
                }

                #main-interface{
                    height: 498px;

                    #filter-col{
                        border-radius: 40px 0 0 40px;
                    }
    
                    #projects-list{
                        border-radius: 0 40px 40px 0;
                        width: 600px;

                        #pl-header #pl-center .header-label, #pl-header #pl-center .header-label-anim,
                        #pl-body #pl-legend #pll-inner{
                            width: 543px;
                        }

                        #pl-header{
                            #pl-center{
                                width: 100%;

                                .header-label, .header-label-anim{
                                    border-radius: 15px 15px 0 0;
                                    box-shadow: none;
                                    margin-bottom: -17px;

                                    #hl-inner{
                                        position:relative;
                                        top:1px;
                                        left:1px;
                                    }
                                }
                            }
                        }

                        #pl-body{
                            #pl-legend{
                                #pll-icon-title{
                                    display: block;
                                }
    
                                #pll-inner{
                                    padding: 3px 0;
                                    height: 68px;
                                    border-radius: 0 0 15px 15px;
    
                                    .lif-icon-row{
                                        height: 100%;
    
                                        .lif-label-col{
                                            display: none;
                                        }
    
                                        .lif-icon-col{
                                            gap: 0;
                                            width: 100%;
                                            height: 100%;
    
                                            .lif-icon{
                                                margin-right: 8px;
                                                transition: 0.2s;
                                                top: 0;
                                                width: 56px;
                                                height: 56px;
                                                z-index: 1;
    
                                                img{
                                                    margin-top: 4px;
                                                    height: 34px;
                                                }
                                            }
                                        }
    
                                        #psb-container{
                                            height: 56px;
                                        }
    
                                        &:first-child, &:last-child{
                                            position: static;
                                        }
                                        position: relative;
                                        top: 4px;
                                    }
    
                                    #lif-squished-row{
                                        width: 129px;
                                    }
    
                                    #lir-size{
                                        #psb-container{
                                            padding: 0 20px;
    
                                            #psb .psb-col{
                                                cursor: pointer;
                                            }
                                        }
    
                                        .lif-icon-col .lif-icon{
                                            margin-right: 0;
                                        }
                                    }
                                }
                            }

                            #pl-gallery{
                                height: 374px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) and (min-height: 500px){
    #ss-2{
        #ss-2-inner{
            #lol{
                #main-interface{
                    #projects-list{
                        //width: 680px;
                    }
                }
            }
        }
    }
}