#ss-4{
    margin-top: 18px;
    background-color: #E16BCE;

    #skills-container{
        #trophy{
            width: 220px;
            margin-bottom: 18px;
        }

        #skills{
            text-align: center;
            padding-right: 0;

            h1{
                margin-top: 30px;
                margin-bottom: 36px;
                background-color: #8d3a7f;
                color: #f77fe3;
                border-radius: 25px;
                padding: 6px 12px 4px 12px;
                display: inline-block;
            }

            .skill-section{
                margin-bottom: 32px;

                h3{
                    font-weight: 600;
                    font-size: 26px;
                }

                .cbs {
                    margin-top: 12px;
                    gap: 12px;

                    #rb-discovered, #web-rb-discovered{
                        cursor: default;

                        .road-top, .road-top:hover, .road-top:active{
                            background-color: white;
                            
                            .road-msg{
                                color: black;
                            }
                        }

                        .road-bottom, .road-bottom:hover, .road-bottom:active{
                            background-color: goldenrod;
                            opacity: 1;
                        }
                    }

                    #web-rb-discovered, #web-dev-btn{
                        .road-top, .road-bottom{
                            width: 160px;
                        }
                    }

                    .road-btn{
                        .road-top, .road-bottom{
                            width: 148px;
                        }

                        .road-top{
                            background-color: #f77fe3;
                        }

                        &:hover, &:active{
                            .road-top{
                                background-color: #b54ca4;

                                .road-msg{
                                    color: white;
                                }
                            }

                            .road-bottom{
                                background-color: goldenrod;
                            }
                        }
                    }
                }

                .ch-container{
                    .collapse-hidden{
                        display: none;
                    }

                    .collapse-hidden-joking{
                        margin-top: 12px;
                        padding-left: 25px;
                        padding-right: 25px;
                    }
                }
            }
        }
    }

    footer{
        text-align: center;
        padding: 3px 3px 3px 0;
        background-color: #703567;
        color: #f2f2f2;
        font-size: 10px;

        a{
            transition: 0.2s;
            color: #f2f2f2;

            &:hover, &:active{
                color: #c4c4c4;
            }
        }
    }
}

@media only screen and (min-width: 750px) and (min-height: 500px){
    #ss-4{
        #skills-container{
            transition: 0.2s;
            gap: 40px;
            height: 850px;

            #trophy{
                width: auto;
                height: 760px;
                margin-top: -72px;
                margin-left: -120px;
                margin-bottom: 0;
                position: relative;
                bottom: 50px;
            }

            #skills{
                padding-right: 70px;

                h1{
                    margin-top: 42px;
                    margin-bottom: 72px;
                }

                .skill-section{
                    .cbs {
                        .collapse-btn{
                            padding: 10px 12px 8px 12px;

                            .on-hover-icon{
                                position: relative;
                                top: 6px;
                            }
                        }
                    }

                    .ch-container .collapse-hidden-joking{
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
        }

        footer{
            text-align: right;
        }
    }
}