html, body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Akagi-pro", sans-serif;
}

h3, h4, h5, h6 {
    font-size: 22px;
}

h5, h6{
    font-size: 20px;
}

p, div, input, button, span, li{
    font-family: Inter, sans-serif;
}

p{
    font-size: 18px;
}

img{
    max-width: 100%;
    max-height: 100%;
}

[class*='align']{
    display: flex;
}

.align-vertical-reverse{
    align-items: center;
    flex-direction: column-reverse;
}

.align-horizontal, .align-center{
    justify-content: center;
}

.align-vertical, .align-center{
    align-items: center;
}

.align-left{
    justify-content: left;
}

.align-right{
    justify-content: right;
}

.align-bottom{
    align-items: flex-end;
}

.fill, .fill-vh{
    width: 100%;
}

.fill{
    height: 100%;
}

.fill-vh{
    height: 100vh;
}

.button-caption{
    font-size: 20px;
    font-weight: 600;
}

.subtext{
    color: rgb(202, 202, 202);
}

.custom-landing-buttons, .custom-landing-buttons-anim{
    .clb-first{
        transition: 0.7s ease-in;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }

    .clb-second{
        transition: 0.2s;
        position: relative;
    }

    .custom-landing-button{
        display: inline-block;
        border: solid #212529 3px;
        border-radius: 4px;
        padding: 6px 8px;
        cursor: pointer;

        .clb-inner{
            gap: 8px;
        }
    }
}

.custom-landing-buttons-anim{
    .clb-first{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .clb-second{
        color: white;

        .hover-icon{
            opacity: 1;
        }
    }
}

.road-btn{
    cursor: pointer;
    padding-top: 6px;
    padding-left: 6px;

    .road-btn-inner{
        .road-layer{
            border-radius: 6px;
            border: solid black 2px;
            height: 56px;
            width: 128px;
        }

        .road-top{
            background-color: #f77fe3;
            position: relative;
            margin-top: -6px;
            margin-left: -6px;

            .road-msg{
                font-size: 17px;
                color: black;
            }

            img{
                width: 28px;
            }
        }

        .road-bottom{
            background-color: black;
            opacity: 0;
            margin-top: -53px;
            margin-left: 0;
        }
    }

    &:hover, &:active{
        .road-btn-inner{
            .road-top{
                
            }

            .road-bottom{
                opacity: 1;
            }
        }
    }
}

.introduction-container{
    width: 100%;
    margin-bottom: 32px;

    .introduction{
        width: 740px;
        padding-top: 32px;
        padding-bottom: 8px;
    }
}

.continue-flex{
    width: 100%;
    gap: 12px;
}

.react-link{
    transition: 0.2s;
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
    color: white;

    &:hover, &:active{
        color: rgb(224, 224, 224);
    }
}

.abs{
    position: absolute;
}

.dash-menu{
    .dm-inner{
        display: inline-block;
        border-radius: 27px;
        padding: 8px 18px 8px 18px;

        .dm-platform{
            .dmic, .dmic-selected{
                cursor: pointer;
                height: 34px;
                padding-left: 14px;
                padding-right: 14px;
                border-radius: 18px;
                margin-left: 2px;
                margin-right: 2px;
            }
    
            .dmic{
                border: solid rgba(255, 255, 255, 0) 2px;//matches size duration of theme-border
            }
    
            .dmic-selected{
                cursor: default;
            }
        }
    }
}

.theme-border/*, .theme-outline*/{
    border: 2px solid transparent;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    color: white;
    background-image: linear-gradient(rgb(68, 69, 75), rgb(86, 92, 114)), linear-gradient(45deg, #f927e7, #e3e3e3);
}

.glass-card{
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    box-sizing: border-box;

    &::before{
        content: "";
        border-radius: inherit;
        position: absolute;
        pointer-events: none;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
        padding: 2px;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0) 28px);
        
        pointer-events: none;
        z-index: -1;
    }
}

@media only screen and (min-width: 750px) and (min-height: 500px){
    .glass-card::before{
        top: 1px;
        left: 1px;
        right: 1px;
        bottom: 1px;
        padding: 1px;
    }
}

/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  */
